body {
    background-color: #F3E8FF;
}
.all-input {
    position: absolute;
    top: 450px;
    left: 830px;
}
.input-text{
    padding: 4.5px;
    border-radius:7px;
    border-width: 1.5px;
    background-color: #ECF2FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
.btn{
    padding: 5px;
    border-radius:7px;
    border-width: 1.5px;
    background-color: #ECF2FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}